<style>
    .container {
        background: #eee;
        padding: 15px;
        border: 1px solid #ececec;
        border-radius: 8px;
        font-family: "Arial", sans-serif;
        font-size: 18px;
        width: 100%;
        max-width: 800px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .container p {
        margin: 5px;
    }

    .value {
        display: block;
        padding: 10px;
        margin: 0 5px 0 0;
        background: #8257e6;
        color: #fff;
        border-radius: 6px;
        border: 2px solid #8257e6;
        width: 15px;
        text-align: center;
        text-decoration: none;
        transition: 200ms
    }

    .value:hover {
        background: #eee;
        border: 2px solid #8257e6;
        color: #8257e6;
    }

    .level {
        display: flex;
        margin: 10px;
        justify-content: space-between;
        width: 350px;
    }

    .answers {
        width: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="container">
    <label>Olá, <strong>{{ name }}</strong>! Tudo bem?</label>

    <h3>{{ title }}</h3>
    <br>
    <p><strong>{{ description }}</strong>
        <p />

    <div class="level">
        <span>Pouco provável</span>
        <span>Muito provável</span>
    </div>

    <div class="answers">
        <a class="value" href="{{ link }}/1?u={{ id }}">1</a>
        <a class="value" href="{{ link }}/2?u={{ id }}">2</a>
        <a class="value" href="{{ link }}/3?u={{ id }}">3</a>
        <a class="value" href="{{ link }}/4?u={{ id }}">4</a>
        <a class="value" href="{{ link }}/5?u={{ id }}">5</a>
        <a class="value" href="{{ link }}/6?u={{ id }}">6</a>
        <a class="value" href="{{ link }}/7?u={{ id }}">7</a>
        <a class="value" href="{{ link }}/8?u={{ id }}">8</a>
        <a class="value" href="{{ link }}/9?u={{ id }}">9</a>
        <a class="value" href="{{ link }}/10?u={{ id }}">10</a>
    </div>

    <br>
    <br>
    <strong>Sua opinião é muito importante para nós!</strong>
    <h3>🚀 Equipe <strong>NLW</strong>!!</h3>
</div>